

.item:hover{
  background-color: lightgray;
}
.item{
  background-color: lightcyan;
}

.item *{
  cursor: pointer;
}

.complete label{
  text-decoration: line-through;
  color: gray;
}
.listColumn:first-child{
  height: 100vh;
  background-color: #cfddef;
  border-radius: 20px;
}
.listColumn:nth-child(2){
  height: 100vh;
  background-color: #b7dcf5;
  border-radius: 20px;
}
.btn{
  background-color: #8aa4c5;
  border-color: #8aa4c5;
  width: 150px;
  color: black;
}

